* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../fonts/NunitoSans-Regular.ttf);
}

body {
    background-color: #181F27;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
}

.container {
    max-width: 1360px;
    width: 90%;
    margin: 0 auto;
}

.ico__btn {
    border: 0px;
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
}

.general__h2 {
    text-align: center;
    font-weight: 800;
    font-size: 72px;
    line-height: 101%;
}

.general__p {
    font-family: 'Nunito Sans';
    font-size: 20px;
    line-height: 127.5%;
}

.header__background {
    position: absolute;
    width: 1220px;
    height: 1320px;
    right: 0;
    z-index: -1;
    background: radial-gradient(47.35% 40.58% at 99.96% 41.27%, #40848C 0%, rgba(62, 132, 140, 0) 100%), radial-gradient(74.26% 49.64% at 83.63% 96.83%, #A46464 0%, #8B6C6F 62.15%, rgba(132, 110, 115, 0.7) 80.74%, rgba(124, 113, 118, 0) 100%), radial-gradient(55.74% 49% at 75.65% 3.28%, #0F6CAF 0%, rgba(38, 122, 156, 0.79) 46.63%, rgba(45, 126, 150, 0.51) 76.71%, rgba(56, 132, 142, 0) 100%), radial-gradient(45.06% 43.65% at 24.8% 74.44%, #C11E9B 0%, #873D7C 40.98%, rgba(125, 65, 137, 0.76) 70.43%, rgba(118, 64, 136, 0.560669) 86.94%, rgba(106, 63, 134, 0.22) 100%);
    border-top-left-radius: 70% 46%;
    border-bottom-left-radius: 100% 54%;
}

.header__top {
    background-color: #232730;
}

.header__top__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-basis: 30%;
}

.header__logo-name .logo__link {
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
    color: #E9EBF7;
}

.header__navigation {
    flex-basis: 60%;
}

.header__navigation__btn {
    color: #FFFFFF;
    font-size: 22px;
    display: none;
}

.fa-rebel {
    cursor: pointer;
}

.header__navigation__btn:active {
    transform: scale(0.8);
}

.header__navigation__check {
    display: none;
}

.header__navigation__check:checked ~ .header__navigation__items {
    display: flex;
}

.header__navigation__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__items {
    flex-grow: 2;
    list-style: none;
    display: flex;
    padding: 19px 0;
}

.header__item a {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    color: #E9EBF7;
}

.header__item:not(:last-child) {
    margin-right: 30px;
}

.header__btn-1 {
    padding: 10px 16px;
    background-color: #36404C;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: #E9EBF7;
    cursor: pointer;
    margin-right: 7px;
}

.header__btn-1:hover {
    background-color: #2a323b;
}

.header__btn-2 {
    padding: 10px 25px;
    background-color: #56B5C1;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: #000;
}

.header__btn-2:hover {
    background-color: #46929c;
}

.header__promo__wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}

.header__promo__content {
    flex: 0 0 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__promo__title {
    font-weight: 800;
    font-size: 87px;
    line-height: 101%;
    letter-spacing: -0.025em;
    color: #E9EBF7;
}

.header__promo__description {
    max-width: 470px;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.017em;
    color: #E9EBF7;
}

.header__promo__btn {
    padding: 18px 40px;
    background-color: #E9EBF7;
    border-radius: 35px;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    color: #000;
}

.header__promo__btn:hover {
    background-color: #c7c9d4;
}

.header__promo-img {
    flex: 0 0 50%;
    height: 552px;
}

.header__promo-img__items {
    position: relative;
    height: 100%;
}

.header__promo-img__item {
    position: absolute;
}

.header__promo-img__item img {
    max-width: 100%;
}

.header__promo-img__item:nth-child(1) {
    z-index: 1;
    right: 18%;
    bottom: 42%;
    animation: 3.5s pulsing 2s infinite;
}

.header__promo-img__item:nth-child(2) {
    z-index: 1;
    right: 16%;
    top: 22%;
    animation: 3.5s pulsing 0.25s infinite;
}

.header__promo-img__item:nth-child(3) {
    z-index: 1;
    left: 40%;
    top: 0;
    animation: 3.5s pulsing-1 0.25s infinite;
}

.header__promo-img__item:nth-child(4) {
    z-index: 1;
    left: 52%;
    top: 30%;
    animation: 3.5s pulsing 2s infinite;
}

.header__promo-img__item:nth-child(5) {
    z-index: 1;
    left: 18%;
    top: 26%;
    animation: 3.5s pulsing-1 0.25s infinite;
}

.header__promo-img__item:nth-child(6) {
    z-index: 1;
    left: 42%;
    bottom: 22%;
    animation: 3.5s pulsing 2s infinite;
}

.header__promo-img__item:nth-child(7) {
    bottom: 0;
    right: 0;
}

@keyframes pulsing {
    0% {
      transform: scale(0.5, 0.5);
    }
    50% {
      transform: scale(1.0, 1.0) translateY(-60px);
    }
    100% {
      transform: scale(0.5, 0.5);
    }
}

@keyframes pulsing-1 {
    0% {
      transform: scale(0.5, 0.5);
    }
    50% {
      transform: scale(1.0, 1.0) translateY(50px);
    }
    100% {
      transform: scale(0.5, 0.5);
    }
}

.header__promo-video {
    margin: 120px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__promo-video video {
    width: 800px;
    height: 460px;
}

.header__video__items .header__video__item{
    border-radius: 16px;
}

.play-video-button {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.play-video-button img{
    width: 130%;
}

.play-video-button:active {
    display: none;
}

.product__wrapper {
    padding: 130px 0;
    color: #E9EBF7;
}

.product__wrapper h2{
    margin-bottom: 50px;
}

.product__items {
    column-count: 2;
    column-gap: 24px;
}

.product__item {
    padding: 50px;
}

.product__item:nth-child(1) {
    background: #202A36 url(../img/21-product__Payments.png) left 45px bottom 74px no-repeat;
    margin-bottom: 24px;
}

.product__item:nth-child(2) {
    background: #202A36 url(../img/23product__chat.png) right bottom no-repeat;
}

.product__item:nth-child(3) {
    background: #202A36 url(../img/22product__manage.png) center bottom no-repeat;
}

.product__item:nth-child(4) {
    background: #202A36 url(../img/24product__iphone.png) left 50px bottom no-repeat;
    margin-top: 24px;
}

.product__item:nth-child(1),
.product__item:nth-child(4) {
    height: 568px;
    box-sizing: border-box;
}

.product__item:nth-child(2),
.product__item:nth-child(3) {
    height: 436px;
    box-sizing: border-box;
}

.product__description h3{
    font-weight: 800;
    font-size: 44px;
    line-height: 150.52%;
    letter-spacing: -0.015em;
}

.product__description p {
    padding-top: 20px;
}

.product__description h3 span{
    color: #000;
    border-radius: 10px;
    padding: 2px 10px;
    margin-right: 20px;
}

.product__item:nth-child(1) h3 span{
    background-color: #0092FF;
    box-shadow: 0px 10px 25px 2px rgba(0, 146, 255, 0.3);
}

.product__item:nth-child(2) h3 span{
    background-color: #AF5BFC;
    box-shadow: 0px 10px 25px 2px rgba(175, 91, 252, 0.3);
}

.product__item:nth-child(3) h3 span{
    background-color: #FF9A88;
    box-shadow: 0px 10px 25px 2px rgba(255, 154, 136, 0.3);
}

.product__item:nth-child(4) h3 span{
    background-color: #56B5C1;
    box-shadow: 0px 10px 25px 2px rgba(255, 154, 136, 0.3);
}

.product__link {
    margin-top: 30px;
}

.product__link a:not(:last-child){
    margin-right: 14px;
}

.explanation__wrapper {
    margin-bottom: 120px;
}

.explanation__title {
    margin-bottom: 80px;
}

.explanation__buttons {
    margin-top: 24px;
    text-align: center;
}

.explanation__buttons button,
.opportunities__buttons button {
    font-family: 'Nunito Sans';
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.explanation__btn-1,
.opportunities__btn-1 {
    padding: 10px 22px;
    background: #AF5BFC;
    box-shadow: 0px 10px 25px 2px rgba(175, 91, 252, 0.3);
    border-radius: 3px;
    margin-right: 22px;
}

.explanation__btn-1:hover {
    background: #7a40af;
}

.explanation__btn-2,
.opportunities__btn-2 {
    padding: 9px 17px;
    background: #000000;
    border: 1px solid #E9EBF7;
    box-sizing: border-box;
    border-radius: 3px;
    color: #E9EBF7;
}

.explanation__btn-2:hover {
    border: 1px solid #AF5BFC;
    color: #AF5BFC;
}

.explanation__content {
    height: 460px;
    background: url(../img/32explanation__img.png) center right no-repeat;
    display: flex;
    flex-direction: column;
}

.explanation__content__item {
    max-width: 604px;
}

.explanation__content__description {
    display: flex;
    cursor: pointer;
}

.explanation__content__item:not(:last-child) {
    margin-bottom: 30px;
}

.explanation__number-list {
    color: #696C75;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
}

.explanation__number-list span {
    display: block;
    border: 2px solid #696C75;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    width: 49px;
    height: 49px;
    position: relative;
    margin-right: 36px;
}

.explanation__number-list span::before {
    content: '';
    display: none;
    width: 64px;
    height: 64px;
    border: 4px solid #56B5C1;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-15%, -14%);
}

.explanation__content__item:nth-child(2) .explanation__number-list span::before {
    border: 4px solid #AF5BFC;
}

.explanation__content__item:nth-child(3) .explanation__number-list span::before {
    border: 4px solid #0092FF;
}

.explanation__content__item:nth-child(4) .explanation__number-list span::before {
    border: 4px solid #FF9A88;
}

.explanation__content-name h3{
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 16px;
    color: #696C75;
}

.explanation__content-name p{
    color: #E9EBF7;
    padding-bottom: 10px;
    display: none;
}

.explanation__content__item:hover .explanation__number-list span::before {
    display: block;
}

.explanation__content__item:hover .explanation__number-list span {
    width: 53px;
    height: 53px;
    font-weight: 800;
    color: #000000;
    background-color: #56B5C1;
    border: 4px solid #181F27;
}

.explanation__content__item:nth-child(2):hover .explanation__number-list span {
    background-color: #AF5BFC;
}

.explanation__content__item:nth-child(3):hover .explanation__number-list span {
    background-color: #0092FF;
}

.explanation__content__item:nth-child(4):hover .explanation__number-list span {
    background-color: #FF9A88;
}

.explanation__content__item:hover  .explanation__content-name h3{
    color: #E9EBF7;
}

.explanation__content__item:hover  .explanation__content-name p{
    display: inline-block;
}

.creation {
    background: radial-gradient(35.97% 64.37% at 35.03% 100%, #377B89 0%, rgba(46, 97, 101, 0) 100%), radial-gradient(51.65% 75.6% at 18.23% 0%, #6E4D5C 0%, rgba(114, 82, 97, 0.07) 100%), radial-gradient(41.18% 135.89% at -1.32% 61.24%, #6C4E98 16.71%, rgba(111, 100, 168, 0.06) 100%), #000000;
    padding: 114px 0;
}

.creation__wrapper {
    display: flex;
    justify-content: center;
}

.creation__block {
    background: #181F27;
    border-radius: 8px;
    box-sizing: border-box;
    width: 90%;
    height: 396px;
    max-width: 500px;
    margin-right: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 42px 40px;
}

.creation__content-name {
    display: flex;
    justify-content: start;
    margin-bottom: 12px;
}

.creation__content-title {
    margin-left: 12px;
}

.creation__content-name h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.creation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #56B5C1;
    text-decoration: none;
}

.creation__registration {
    margin-left: 72px;
}

.creation__registration__item:nth-child(1) {
    margin-bottom: 12px;
}

.creation__registration__item label {
    font-size: 16px;
    line-height: 127.5%;
    color: #E9EBF7; 
    text-transform: uppercase;
    cursor: pointer;
}

.creation__group {
    margin-top: 6px;
    padding: 0 16px;
    background: #2E3A48;
    border: 2px solid #374555;
    box-sizing: border-box;
    border-radius: 3px;
    color: #E9EBF7; 
    width: 276px;
    height: 40px;
}

.creation__group::placeholder {
    font-size: 12px;
    color: #E9EBF7;
}

.creation__btn {
    margin-top: 36px;
    padding: 15px 26px;
    background: #C2C1E1;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.creation__btn:hover {
    background: #a4a3bd;
}

.creation__title {
    max-width: 510px;
    align-self: center;
}

.creation__title h2,
.advantages__title h2 {
    font-weight: 800;
    font-size: 44px;
    line-height: 101.02%;
    letter-spacing: -0.015em;
    margin-bottom: 20px;
}

.creation__title h2 {
    max-width: 300px;
    color: #A7B1BB;
}


.opportunities__wrapper {
    padding: 130px 0;
    display: flex;
    justify-content: space-between;
}

.opportunities__title {
    max-width: 460px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opportunities__text h2 {
    text-align: left;
    margin-bottom: 30px;
}

.opportunities__text a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.03em;
}

.opportunities__link {
    margin-left: 12px;
    font-size: 20px;
    vertical-align: middle;
}

.opportunities__text a:hover .opportunities__link {
    transform: rotate(180deg);
}

.opportunities__btn-1 {
    padding: 10px 18px;
    margin-right: 24px;
    background: #0092FF;
    box-shadow: 0px 10px 25px 2px rgba(2, 147, 254, 0.3);
}

.opportunities__btn-1:hover {
    background: #006ec2;
}

.opportunities__btn-2 {
    padding: 10px 20px;
}

.opportunities__btn-2:hover {
    border: 1px solid #0092FF;
    color: #0092FF;
}

.opportunities__items {
    max-width: 692px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opportunities__item {
    border: 2px solid #696C75;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 334px;
    padding: 22px;
}

.opportunities__item:nth-child(3),
.opportunities__item:nth-child(5) {
    margin-top: 24px;
}

.opportunities__menu-description h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #E9EBF7;
    margin-bottom: 10px;
}

.opportunities__menu-description p{
    font-family: 'Nunito Sans';
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.opportunities__item:nth-child(2) .opportunities__menu-description h3 {
    margin: 16px 0;
}

.opportunities__item:nth-child(3) .opportunities__menu-description h3 {
    margin: 12px 0;
}

.opportunities__item:nth-child(4) .opportunities__menu-description h3{
    margin: 13px 0;
}

.opportunities__item:nth-child(6) .opportunities__menu-description h3 {
    margin-top: 2px;
}

.advantages {
    background: #202A36;
    box-shadow: 0px 4px 4px #181F27;
    padding: 150px 0;
}

.advantages__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages__example {
    width: 650px;
    height: 400px;
    background-color: #1c1f22;
    border-radius: 8px;
    padding: 20px;
    margin-right: 90px;
}

.advantages__table {
    border-collapse: collapse;
    font-family: 'Nunito Sans';
    font-weight: bold;
}

.advantages__table td:first-child{
    padding: 4px 16px;
    color: #3e4246;
    text-align: right;
    border-right: 2px solid #2d3134;
}

.advantages__table tr:nth-child(5) td:last-child,
.advantages__table tr:nth-child(6) td:last-child{
    padding-left: 80px;
}

.advantages__table td:last-child{
    padding-left: 40px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #61636a;
}

.text__color-red {
    color: #af6261;
}

.text__color-yellow {
    color: #a27454;
}

.text__color-violet {
    color: #735f94;
}

.text-cursor::after {
    content: ' |';
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0% { color: #61636a; }
    50% { color: #61636a00;}
    100% { color: #61636a;; }
}

.advantages__title {
    max-width: 460px;
}

.advantages__title h2 {
    color: #E9EBF7;
}

.advantages__title p {
    margin-bottom: 34px;
}

.advantages__title a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.advantages__title a:hover .advantages__link {
    transform: rotate(180deg);
}

.advantages__link {
    color: #AF5BFC;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.reviews {
    padding: 140px 0;
}

.reviews__title {
    max-width: 480px;
    margin: 0 auto;
}

.reviews__items {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.reviews__item {
    width: 384px;
    height: 260px;
    border: 1px solid #696C75;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews__item:not(:last-child) {
    margin-right: 10px;
}

.reviews__avatar {
    display: flex;
    align-items: center;
}

.reviews__avatar-name {
    font-weight: bold;
    font-size: 24px;
    margin-left: 24px;
    line-height: 28px;
}

.reviews__avatar-name span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.reviews__feedback {
    margin-top: 18px;
    height: 96px;
    border-bottom: 1px solid #E9EBF7;
    font-size: 20px;
    line-height: 127.5%;
}

.reviews__link {
    margin-top: 18px;
}

.reviews__link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #0092FF;
    margin-left: 3px;
}

.reviews__link img {
    vertical-align: middle;
    margin-right: 10px;
}

.reviews__link a:hover  {
    color: #0373c9;
}

.reviews__link a:hover img {
    opacity: 0.5;
}

.search {
    background: #181B20;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search__wrapper {
    padding: 160px 0;
    background: url(../img/83search__logo.png) center right 10px no-repeat;
}

.search__sub-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #A7B1BB;
    margin-bottom: 20px;
}

.search__title h2 {
    text-align: left;
}

.search__input {
    margin-top: 30px;
    margin-bottom: 48px;
}

.search__group {
    width: 384px;
    margin-right: 26px;
    background: #2E3A48;
    padding: 16px 22px;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    color: #A7B1BB;
    font-size: 16px;
}

.search__group::placeholder {
    color: #A7B1BB;
}

.search__btn {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    padding: 12px 30px;
    background: #56B5C1;
    border-radius: 35px;
}

.search__btn:hover {
    background: #3d818a;
}

.search__link a {
    margin-right: 20px;
}

.footer {
    background-color: #202A36;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.035em;
    color: #A7B1BB;
}

.footer__top {
    padding: 104px 0;
    box-sizing: border-box;
    height: 350px;
}

.footer__top__wrapper {
    display: flex;
}

.footer__top__wrapper a:hover {
    color: #ccdae9;
}

.footer__logo-column {
    flex-basis: 30%;
}

.footer__logo{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.footer__logo-name {
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.footer__logo-column__item:not(:last-child) {
    margin-bottom: 18px;
}

.footer__logo-column__item a,
.footer__list__item a {
    text-decoration: none;
    color: #A7B1BB;
}

.footer__column__items {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
}

.fa-angle-down {
    margin-left: 5px;
    display: none;
}

.footer__list__items {
    list-style: none;
}

.footer__list__items > li {
    font-weight: 600;
    color: #E9EBF7;
    cursor: pointer;
}

.footer__list__item {
    list-style: none;
    margin-top: 18px;
}

.footer__bottom {
    padding-bottom: 36px;
}

.footer__bottom__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__made_by span {
    color: #E9EBF7;
}

.footer__social-link {
    margin-left: 110px;
}

.footer__social-link a:not(:last-child) {
    margin-right: 22px;
}

.footer__social-link a:hover img{
    opacity: 0.4;
}